/* :root {
    --main-background-color: #fff;
    --primary-text-color: #212121;
    --logo-text-color: #000;
    --accent-color: #188CE8;
    --contacts-text-color: #757575;
    --backgraund-banner-color: #2f303a;
    --title-text-color: #fff;
    --button-order-color: #2196F3;
    --text-footer-color: #fff;
    --button-text-color: #fff;
    --logo-color: #2196F3;
    --color-list-items: #f5f4fa;
    --transition-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/*---------Index.html------*/

/* body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
} */

/* Утіліті */

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

img {
    display: block;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
} */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} */

/* .main-nav {
    display: flex;
    align-items: center;
} */

/* .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0 auto;
} */


/* .section {
    padding: 94px 0;
} */

/* .logo {
    margin-right: 93px;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-text-color);
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;

    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo__header {
    color: var(--logo-color);
    display: flex;
} */


/* .nav {
    display: flex;
    margin: 0;
}

.nav .nav__item:not(:last-child) {
    margin-right: 50px;
}


.nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    text-decoration: none;


    padding-top: 32px;
    padding-bottom: 32px;

    display: block;
    position: relative;
    transition: color var(--transition-func);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

.nav__link--current {
    color: var(--accent-color)
}

.contact__mail,
.contact__number {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    color: var(--contacts-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    transition: fill var(--transition-func);
}

.contact__mail,
.contact__number:not(:last-child) {
    margin-right: 50px;
}


.contact__number:hover .contact__icon-phone,
.contact__number:focus .contact__icon-phone {
    fill: var(--accent-color);
}



.contact__mail:hover .contact__icon-mail,
.contact__mail:focus .contact__icon-mail {
    fill: var(--accent-color);
} */



/*------- Main---------- */

/* .banner {
    background-color: var(--backgraund-banner-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner__title {
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.order-button {
    background-color: var(--button-order-color);
    color: var(--button-text-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    font-family: Roboto;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
    transition: background-color var(--transition-func);
}

.order-button:hover,
.order-button:focus {
    background-color: var(--accent-color);
} */

/* ------Section features------ */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
/* 
.subtitle {
    color: var(--primary-text-color);
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 10px;
}



.slogan {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
    padding: 0;
    margin: 0;
}

.list-skills__item {
    position: relative;
}

.list-skills__title {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--text-footer-color);
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    position: absolute;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;

}

.list-items {
    background-color: var(--color-list-items);
}

.section-skills {
    padding-bottom: 94px;
    padding-top: 0;
}

.list-skills {
    display: flex;
    margin: 0;
    padding: 0;
    width: 370px;
}

.list-skills li:not(:last-child) {
    margin-right: 30px;
}

.features-list {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--main-background-color);
} */

/* ----Our team------ */

/* .headline,
.title-company {

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;

}

.list-team__box {
    display: block;
    padding: 30px 30px 30px 30px;
}

.list-team__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

.list-team__text {
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);

    text-align: center;
    margin-bottom: 16px;
    padding: 0;
}

.list-team {
    display: flex;
    margin: 0;
    padding: 0;

}

.list-team .list-team__item:not(:last-child) {
    margin-right: 30px;
}

.list-team__item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
} */


/* .footer-contacts {
    padding: 0;
    margin: 0;

}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
} */

/* -----Portfolio------- */

/* .header-page {
    border-bottom: 1px solid #ECECEC;
} */

/* .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__button:not(:last-child) {
    margin-right: 8px;
} */

/* .product__info {
    padding: 20px 24px;
    border: 1px solid #ECECEC;
    border-top: none;


}

.link-card {
    text-decoration: none;
    display: block;
    color: var(--primary-text-color);
    transition: box-shadow var(--transition-func), transform var(--transition-func), opacity var(--transition-func);
    outline: none;
}

.link-card:hover,
.link-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);


}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.portfolio__item {
    width: 370px;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: center;


}

.portfolio__item:nth-child(3n) {
    margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.product:hover::before {
    opacity: 1;
}

.product {
    position: relative;
    overflow: hidden;
    width: 370px;
}

.overlay {

    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.overlay__portfolio {


    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    position: absolute;
    display: block;
    padding: 63px 24px;


}

.link-card:hover .overlay,
.link-card:focus .overlay {
    transform: translateY(0);
    opacity: 1;
    transition: var(--transition-func);
} */

/* .contact__mail,
.contact__number {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    color: var(--contacts-text-color);
    transition: color var(--transition-func);
}

.contact__number:hover,
.contact__number:focus {
    color: var(--accent-color);
}

.contact__mail:hover,
.contact__mail:focus {

    color: var(--accent-color);
} */


/* .filter__button-all,
.filter__button-web,
.filter__button-app,
.filter__button-design,
.filter__button-marketing {
    background: #f5f4fa;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-family: Roboto;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 22px;
    transition: color var(--transition-func), background-color var(--transition-func), box-shadow var(--transition-func);
}

.filter__button-all:hover,
.filter__button-all:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter__button-web:hover,
.filter__button-web:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.filter__button-app:hover,
.filter__button-app:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.filter__button-design:hover,
.filter__button-design:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.filter__button-marketing:hover,
.filter__button-marketing:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

} */


/* .nav__link.nav__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #188CE8;
    left: 0;
    bottom: -5px;

    position: absolute;

}

.nav__link.nav__link--current::after:hover,
.nav__link.nav__link--current::after:focus {

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 1;
    transition: background-color var(--transition-func),
        opacity var(--transition-func), visibility var(--transition-func);

}

.nav__link::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 1;
    transition: background-color var(--transition-func);
}

.nav__link:hover::after,
.nav__link:focus::after {
    background-color: var(--accent-color);

} */

/* .product__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

.product__meta {
    line-height: 1.8;
    color: var(--contacts-text-color);
    letter-spacing: 0.03em;
} */

/* .footer-content {
    background-color: var(--backgraund-banner-color);
    padding: 60px 0;

} */

/* .title-logo {
    color: var(--logo-color);
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo {
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-footer-color);
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.adress-link {
    color: var(--text-footer-color);
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    transition: color var(--transition-func);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.footer-item__mail,
.footer-item__number {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    color: var(--contacts-text-color);
    font-style: normal;
    transition: color var(--transition-func);
}

.footer-item__mail:hover,
.footer-item__mail:focus {
    color: var(--accent-color);

}

.footer-item__number:hover,
.footer-item__number:focus {
    color: var(--accent-color);

} */

/* ------Decoration------ */
/* .banner_main {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/mainphotoheader.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* -----mail-phone-icon----- */
/* .contact__mail,
.contact__number {
    display: flex;
    align-items: center;
}

.contact__icon-mail,
.contact__icon-phone {
    fill: var(--contacts-text-color);
    display: flex;
    padding: 34px 10px 34px auto;
    margin-right: 10px;
    transition: fill var(--transition-func);
} */


/* ------Benefits------ */

/* .benefits {
    display: flex;
    gap: 30px;
}

.benefits__item {
    width: 270px;
    height: 120px;
    background-color: var(--color-list-items);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__icon {
    align-items: center;
} */

/* ----Team links------ */

/* .social-set {
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.social-set__link {
    background-color: var(--text-footer-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-func),
        color var(--transition-func);
}


.social-set__link:hover,
.social-set__link:focus {
    background-color: var(--accent-color);
    color: var(--color-list-items);
}

.social-set__icon {
    fill: #afb1b8;
    transition: fill var(--transition-func);
}


.social-set__link:hover .social-set__icon,
.social-set__link:focus .social-set__icon {
    fill: var(--main-background-color);
} */

/* -------Cpmpany------- */

/* .company {
    list-style: none;
    background-color: var(--main-background-color);

    display: inline-flex;
    margin: 0;
    padding: 0;
}

.company__logo {
    display: inline-flex;
    background-color: var(--main-background-color);
}

.company__link {
    width: 170px;
    height: 92px;
    border: 1px Solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border var(--transition-func);
}

.company__logo:not(:last-child) {
    margin-right: 30px;
}

.company__link:hover,
.company__link:focus {
    border: solid 1px var(--accent-color);
}

.company__icon {
    fill: #afb1b8;
    transition: fill var(--transition-func);
}


.company__link:hover .company__icon,
.company__link:focus .company__icon {
    fill: var(--accent-color);

} */

/* ----footer-decoration--- */

/* .footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(26/14);
    letter-spacing: 0.03em;
    color: var(--text-footer-color);
    margin-bottom: 20px;
}

.footer-adress {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.social-set {
    background-color: var(--backgraund-banner-color);
    display: inline-flex;
    align-items: center;
}

.social-set__link {
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-func);
}

.social-set__link:not(:last-child) {
    margin-right: 10px;
}

.social-set__link:hover,
.social-set__link:focus {
    background-color: var(--accent-color);
}

.social-set__icon {
    fill: var(--main-background-color);
    transition: fill var(--transition-func);
}

.social-set__icon:hover,
.social-set__icon:focus {
    fill: var(--main-background-color);
} */

/* -----Modal------ */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity var(--transition-func), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1.1);

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.btn-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    background-color: transparent;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.btn-close__icon {
    fill: var(--logo-text-color);
}

.btn-close:hover .btn-close__icon,
.btn-close:focus .btn-close__icon {
    fill: var(--accent-color);

} */

/* -----Form-------- */
/* .modal__title {

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    justify-content: center;

}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__input-text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--contacts-text-color);
    display: block;
}

.modal__name {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--contacts-text-color);
    display: block;
    margin-bottom: 4px;
}

.modal__input-field {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-func);
}

.modal__input-field:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color var(--transition-func);
}

.modal__input-field:focus+.modal__icon-main {
    fill: var(--accent-color);
}

.modal__input-text:not(:last-child) {
    margin-bottom: 4px;
    margin-top: 10px;
}

.modal__icon {
    position: relative;
    margin: 0 auto;
    display: flex;
}

.modal__icon-main {
    position: absolute;
    fill: var(--logo-text-color);
    transition: fill var(--transition-func);
    top: 11px;
    left: 12px;
    display: block;
}

.modal__comment {
    width: 100%;
    outline: none;
    display: flex;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

.modal__comment:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color var(--transition-func);
}

.modal__check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}

.text-user-check {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}

.modal__link {
    color: var(--accent-color);
}

.modal__comment::placeholder {
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__check-box {
    width: 16px;
    height: 15px;
    border-radius: 3px;
    border: 2px solid var(--logo-text-color);
    margin-right: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__checkbox-place {
    appearance: none;
    position: absolute;
}

.modal__checkbox-place:checked+.modal__check-box {
    border: none;
    background-color: var(--accent-color);
}

.modal__checkmarc {
    fill: #ffffff;
}

.modal__icon-chek {
    position: absolute;
    display: block;
}

.button-send {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    align-self: center;
    color: var(--button-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: background-color var(--transition-func), color var(--transition-func);
}

.button-send:hover,
.button-send:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
}

.form-submit-mail {
    display: inline-block;

}

.title-email {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-email__field {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
}

.form-email__field:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color var(--transition-func);
}

.btn-send {
    background: var(--button-order-color);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    color: var(--button-text-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    padding: 10px 62px 10px 28px;
    position: relative;
    transition: background-color var(--transition-func);
}

.btn-send__icon {
    top: 13px;
    right: 18px;
    position: absolute;
    display: inline-block;
    fill: var(--main-background-color);

}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--accent-color);
}

.submit {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
} */