.company {
    list-style: none;
    background-color: var(--main-background-color);
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.company__logo {
    display: inline-flex;
    background-color: var(--main-background-color);

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.company__link {
    width: 170px;
    height: 92px;
    border: 1px Solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border var(--transition-func);

    &:hover,
    &:focus {
            border: solid 1px var(--accent-color);
        }
}
.company__icon {
    fill: #afb1b8;
    transition: fill var(--transition-func);

    .company__link:hover &,
    .company__link:focus & {
            fill: var(--accent-color);
        }
}