.company {
    list-style: none;
    background-color: var(--main-background-color);
    margin: 0;
    padding: 0;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include tablet {
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

    }

    @include desktop {
    display: inline-flex;
    @include desktop {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

.company__logo {
    display: inline-flex;
    background-color: var(--main-background-color);
    

  

    
}

.company__link {
    width: 210px;
    height: 92px;
    border: 1px Solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border var(--transition-func);

    @include tablet {
        width: 226px;
    }
    
    @include desktop {
        width: 170px;
    }

    &:hover,
    &:focus {
            border: solid 1px var(--accent-color);
        }
}
.company__icon {
    fill: #afb1b8;
    transition: fill var(--transition-func);

    .company__link:hover &,
    .company__link:focus & {
            fill: var(--accent-color);
        }
}