.subtitle {
    color: var(--primary-text-color);
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 10px;
}

.slogan {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
    padding: 0;
    margin: 0;
}

.list-skills__item {
    position: relative;
}

.list-skills__title {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--text-footer-color);
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    position: absolute;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;

}

.list-items {
    background-color: var(--color-list-items);
}

.section-skills {
    padding-bottom: 94px;
    padding-top: 0;
}

.list-skills {
    display: flex;
    margin: 0;
    padding: 0;
    width: 370px;
}

.list-skills li:not(:last-child) {
    margin-right: 30px;
}

.features-list {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--main-background-color);
}
.benefits {
    display: flex;
    gap: 30px;
}

.benefits__item {
    width: 270px;
    height: 120px;
    background-color: var(--color-list-items);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__icon {
    align-items: center;
}