.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity var(--transition-func), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
}

.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1.1);

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.btn-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    background-color: transparent;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.btn-close__icon {
    fill: var(--logo-text-color);
}

.btn-close:hover .btn-close__icon,
.btn-close:focus .btn-close__icon {
    fill: var(--accent-color);

}

.modal__title {

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
    justify-content: center;

}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__input-text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--contacts-text-color);
    display: block;

    &:not(:last-child) {
            margin-bottom: 4px;
            margin-top: 10px;
        }
}

.modal__name {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--contacts-text-color);
    display: block;
    margin-bottom: 4px;
}

.modal__input-field {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-func);

    &:focus {
            outline: none;
            border-color: var(--accent-color);
            transition: border-color var(--transition-func);
        }
}

.modal__input-field:focus+.modal__icon-main {
    fill: var(--accent-color);
}

.modal__icon {
    position: relative;
    margin: 0 auto;
    display: flex;
}

.modal__icon-main {
    position: absolute;
    fill: var(--logo-text-color);
    transition: fill var(--transition-func);
    top: 11px;
    left: 12px;
    display: block;
}

.modal__comment {
    width: 100%;
    outline: none;
    display: flex;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    &:focus {
            outline: none;
            border-color: var(--accent-color);
            transition: border-color var(--transition-func);
        }

                &::placeholder {
                    font-size: 12px;
                    line-height: calc(14/12);
                    letter-spacing: 0.01em;
                    color: rgba(117, 117, 117, 0.5);
                }
}

.modal__check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}

.text-user-check {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}

.modal__link {
    color: var(--accent-color);
}

.modal__check-box {
    width: 16px;
    height: 15px;
    border-radius: 3px;
    border: 2px solid var(--logo-text-color);
    margin-right: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__checkbox-place:checked+& {
            border: none;
            background-color: var(--accent-color);
        }
}

.modal__checkbox-place {
    appearance: none;
    position: absolute;
}

.modal__checkmarc {
    fill: #ffffff;
}

.modal__icon-chek {
    position: absolute;
    display: block;
}

.button-send {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    align-self: center;
    color: var(--button-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: background-color var(--transition-func), color var(--transition-func);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
            color: var(--main-background-color);
        }
}


.form-submit-mail {
    display: inline-block;

}

.title-email {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-email__field {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;

    &:focus {
            outline: none;
            border-color: var(--accent-color);
            transition: border-color var(--transition-func);
        }
}


.btn-send {
    background: var(--button-order-color);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    color: var(--button-text-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    padding: 10px 62px 10px 28px;
    position: relative;
    transition: background-color var(--transition-func);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.btn-send__icon {
    top: 13px;
    right: 18px;
    position: absolute;
    display: inline-block;
    fill: var(--main-background-color);

}

.submit {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}