:root {
    --main-background-color: #fff;
    --primary-text-color: #212121;
    --logo-text-color: #000;
    --accent-color: #188CE8;
    --contacts-text-color: #757575;
    --backgraund-banner-color: #2f303a;
    --title-text-color: #fff;
    --button-order-color: #2196F3;
    --text-footer-color: #fff;
    --button-text-color: #fff;
    --logo-color: #2196F3;
    --color-list-items: #f5f4fa;
    --transition-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}